<!DOCTYPE html>
<html>
<head>
    <title>ダイヤをホニャが査定するお</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="main">

<div align="center" class="heading">
    <h1>ダイヤモンドの買取値段を「ほにゃ」が査定</h1>
</div>


<div align="center">
    <form method="post" action="/result">
        <table id="form">
            <tr><td>カラット</td></tr>
            <tr><td><input type="text" name="ct"></td></tr>
            <tr><td>カラー</td></tr>
            <tr><td><input type="text" name="color"></td></tr>
            <tr><td>クラリティ</td></tr>
            <tr><td><input type="text" name="clarity"></td></tr>
            <tr><td>カット</td></tr>
            <tr><td><input type="text" name="cut"></td></tr>
            
            <tr><td><input type="submit" value="Go!"></td></tr>
        </table>
    </form>
</div>

</body>
</html>